h1 {
  color: red;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-style: italic;
}

#myBookParagraph {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.myClassExample {
  color: purple;
  font-style: italic;
  text-decoration: none;
}

